[submodule "devices/ODROID-GO"]
	path = devices/ODROID-GO
	url = https://github.com/hardkernel/ODROID-GO.git
[submodule "devices/go-play"]
	path = devices/go-play
	url = https://github.com/OtherCrashOverride/go-play
[submodule "apps/fritzing-app"]
	path = apps/fritzing-app
	url = https://github.com/fritzing/fritzing-app
[submodule "devices/odroid-go-firmware"]
	path = devices/odroid-go-firmware
	url = https://github.com/othercrashoverride/odroid-go-firmware.git

[submodule "lib/StandardCplusplus"]
	path = lib/StandardCplusplus
	url = git://github.com/maniacbug/StandardCplusplus
[submodule "lib/ArduinoSTL"]
	path = lib/ArduinoSTL
	url = git@github.com:mike-matera/ArduinoSTL.git
